.result-container{
    // border: 1px solid red;
    margin: 5% auto;
    box-shadow: 1px 4px 30px 2px rgba(100, 182, 100, 0.842);
    border-radius: 20px 20px 50px 50px;
    
    .countList{
        list-style-type:none;
        padding: 0;
        text-align: center;
    }
}
