.result-container{
    width: 100%;
    margin: 5% auto;
    padding: 1px;
    background-color:  rgba(100, 182, 100, 0.842);
    
    .countList{
        width: 70%;
        list-style-type:none;
        padding: 5px 0px;
        text-align: center;
        margin: 5px auto;
        border-radius: 20px 0px 20px 0px;
        box-shadow: 1px 2px 10px 1px rgba(255, 255, 255, 0.897);
        background-color: honeydew;
    }
}
